/*Menú General + Footer*/

@font-face {
    font-family: 'MontserratExtraBold';
    src: url("MontserratExtraBold.ttf");
}

body {
    background-image: url("imgingles.jpg");
    background-size: cover;
    font-family: 'MontserratExtraBold';
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#titulo4 {
    text-align: center;
    color: #333;
}

.energy {
    margin-bottom: 20px;
}

.energy h2 {
    color: #555;
}

.energy p {
    margin: 10px 0;
}

#nombremenu {
    margin-top: 30px;
}


/*Menu*/

#nombremenu {
    margin-top: 30px;
}

#logo {
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 100%;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    font-size: large;
}

nav ul {
    list-style: none;
    padding: 0%;
}

nav ul>li:hover {
    background-color: rgb(99, 99, 99);
    color: #000;
    transition: .4s;
}

nav li {
    line-height: 3rem;
    position: relative;
    text-align: center;
}

.menu ul {
    position: absolute;
}

nav a {
    color: #ddd;
    display: block;
    padding: 0 2.4em;
    text-decoration: none;
    transition: .4s;
}

nav a:hover {
    background: rgb(99, 99, 99);
    border-radius: 15px;
}


/*LV1*/

.menu {
    background: #333;
    display: table;
    border-radius: 15px;
    width: 100%;
}

.menu>li {
    float: left;
}


/* 2do Nivel */

nav li li {
    background: #333;
    max-height: 0;
    overflow: hidden;
    transition: all .4s;
    width: 200px;
}

nav li:hover>ul>li {
    max-height: 1000px;
    overflow: visible;
}

.menu>li>ul {
    top: 100%;
}


/* 3er Nivel */

.menu ul ul {
    left: 100%;
    top: 0;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
    background-color: #333;
    text-align: center;
    color: white;
}